.carousel-item{
    background-color:#670001;
}

.carousel-caption {
    top: 400px;
    bottom: auto;
}

.carousel-item:after {
    content:"";
    display:block;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    color:white;
    background:rgba(0,0,0,0.4);
} 

.carousel-caption {
    z-index: 2;
}

.carousel-item {
    /* height: 1000px; */
    width: 100%;
    height: 100vh;
}

 .carousel-item img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    /* min-height: 1000px; */
} 