<footer class="footer navbar-fixed-bottomzz">
  <div class="container">  
      <div class="row">
        <div class="col-lg-1 ">
        </div>
        <div class="col-lg-3 cold-left">
          <h3>Follow Us</h3>
          <button class="icon-btn icon-btn-minus twitter" onclick="window.open('https://twitter.com/Brothers_of_151');"> 
            <i class="fab fa-twitter"></i>
          </button>
          <button class="icon-btn facebook" onclick="window.open('https://www.facebook.com/The-Brothers-of-1-5-1-Inc-826091857440723/');"> 
            <i class="fab fa-facebook-f"></i> 
          </button>
          <!--<button class="icon-btn google-plus" onclick="window.open('https://plus.google.com/');"> 
            <i class="fab fa-google-plus-g"></i> 
          </button>-->
          <button class="icon-btn instagram" onclick="window.open('https://www.instagram.com/151_incorporated/');"> 
            <i class="fab  fa-instagram"></i>
          </button>
        </div>
        <div class="col-lg-4 seperator "> 
          <div class="container">        
            <h3>1 - 5 - 1 Incorporated</h3>    
            <p>P.O. Box 11111  <br/>  
            Hampton VA, 22222</p>    
            <p><img src="../../assets/images/shield1_1 (3).png" class="img-fluid img-thumbnail removeattr"/></p>
          </div> 
        </div>
        <div class="col-lg-3 cold-right">
          <!--<h3>1 - 5 - 1 Incorportated</h3>-->
        </div>
        <div class="col-lg-1">
            
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 text-left">
            <p class="copyRight">© Copyright 2018 - 1-5-1 Incorporated</p>
          </div>
      </div>
  </div>
</footer>

