<footer class="footer navbar-fixed-bottom">
  <div class="container">  
      <div class="row">
        <div class="col-lg-2 ">
        </div>
        <div class="col-lg-2 cold-left">
          <h3>Follow Us</h3>
          <button class="icon-btn icon-btn-minus twitter"> 
              <a class="link" href="https://twitter.com/" target="_blank">
                <i class="fab fa-twitter"></i>
              </a>
          </button>
          <button class="icon-btn facebook"> 
            <a class="link" href="https://www.facebook.com/" target="_blank">
              <i class="fab fa-facebook-f"></i> 
            </a>
          </button>
            <button class="icon-btn google-plus"> 
            <a class="link" href="https://plus.google.com/" target="_blank">
              <i class="fab fa-google-plus-g"></i> 
            </a>
          </button>
            <button class="icon-btn instagram"> 
            <a class="link" href="https://www.instagram.com/"  target="_blank">
              <i class="fab  fa-instagram"></i>
            </a>
          </button>
        </div>
        <div class="col-lg-4 seperator "> 
          <div class="container">        
            <h3>1 - 5 - 1 Incorporated</h3>    
            <p>P.O. Box 11111  <br/>  
            Hampton VA, 22222</p>    
            <p><img src="../../assets/images/shield1_1 (3).png" class="img-fluid img-thumbnail removeattr"/></p>
          </div> 
        </div>
        <div class="col-lg-2 cold-right">
          <!--<h3>1 - 5 - 1 Incorportated</h3>-->
        </div>
        <div class="col-lg-2 ">
            
          </div>
      </div>
      <div class="row">
          <div class="col-lg-12 text-left">
            <p class="copyRight">© Copyright 2018 - 1-5-1 Incorporated</p>
          </div>
      </div>
  </div>
</footer>

