<section id="secbuttonctl">
    <div class="container">
        <!-- Three columns of text below the carousel -->
        <div class="row text-center">
            <div class="col-lg-4">
               <a href="#"> <i class="fas fa-users fa-4x bdrcrl"></i>
               <p class="addlkpad">Membership</p></a>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <a href="#"> <i class="fas fa-user-tie fa-4x bdrcrl"></i>
              <p class="addlkpad">President's Corner</p></a>
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4">
              <a href="#"> <i class="fas fa-user-graduate fa-4x bdrcrl"></i>
              <p class="addlkpad">Scholorship</p></a>
            </div>
        </div>
    </div>
</section>