<section >
  
     
   

    
    <div class="container bgPage searchMrg" >
        <div class="row">
            <div class="col-lg-6 text-justify hdtitle">
                <h1>Search results for {{term}}</h1>
            </div>      
        </div>
        <ul id="postNav">
          <li class="nav-item" *ngFor="let result of searchResults$ | async">
              <a class="nav-link" routerLink="/pst/{{ result.id }}/{{ result.title.rendered }}">{{ result.title.rendered }}</a>
              <p>{{ result.date | date:'longDate' }} | {{ result.date | date:'shortTime' }}</p>
          </li>
        </ul>  
    </div>
</section>
