<section id="secbuttonctl" class="d-none d-md-block d-lg-block">
    <div class="container">
        <!-- Three columns of text below the carousel -->
        <div class="row text-center">
            <div class="col-md-4 col-lg-4">
               <a routerLink="/pg/378/1-5-1%20Membership"> <i class="fas fa-users fa-4x bdrcrl"></i>
               <p class="addlkpad">Membership</p></a>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4 col-lg-4">
              <a routerLink="/pg/310/Presidents%20Message"> <i class="fas fa-user-tie fa-4x bdrcrl"></i>
              <p class="addlkpad">President's Corner</p></a>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4 col-lg-4">
              <a routerLink="/pg/380/Book%20Scholarship"> <i class="fas fa-user-graduate fa-4x bdrcrl"></i>
              <p class="addlkpad">Scholorship</p></a>
            </div>
        </div>
    </div>
</section>

