<section id="secbuttonctl" class="d-none d-md-block d-lg-block">
    <div class="container">
        <!-- Three columns of text below the carousel -->
        <div class="row text-center">
            <div class="col-md-4 col-lg-4">
               <a routerLink="/pg/29/1-5-1%20Membership"> <fa-icon class="bdrcrl" [icon]="faUsers" size="2x"></fa-icon>
               <p class="addlkpad">Membership</p></a>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4 col-lg-4">
              <a routerLink="/pg/13/Presidents%20Message"> <fa-icon class="bdrcrl" [icon]="faUserTie" size="2x"></fa-icon>
              <p class="addlkpad">President's Corner</p></a>
            </div><!-- /.col-lg-4 -->
            <div class="col-md-4 col-lg-4">
              <a routerLink="/pg/15/Book%20Scholarship"> <fa-icon class="bdrcrl" [icon]="faUserGraduate" size="2x"></fa-icon>
              <p class="addlkpad">Scholorship</p></a>
            </div>
        </div>
    </div>
</section>

