<section *ngIf="post as postelments">      
  <div id="margintransition" class="jumbotron d-none d-md-block d-lg-block" [ngStyle]="{'background-image':'url(' + postelments._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url + ')'}">    
  </div>
  
  <div class="container bgPage mbMargin" >
    <div class="row">
        <div class="col-lg-6  hdtitle">
            <h4>{{postelments.title.rendered}}</h4>
        </div>      
    </div>
    <div class="row">
    <div class="col-lg-6 text-justify hdtitle">
        <h6>{{post.date | date:'longDate'}}</h6>
    </div>      
    </div>
    <div class="row">             
    <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-justify" [innerHTML]="postelments.content.rendered"></div>  
    <div class="col-12 col-sm-12 col-md-6 col-lg-1"></div> 
    <app-sidbarposts class="col-md-12 col-lg-5 mb-3 bg crnRds sidebar"></app-sidbarposts>  
    </div>
  </div>
</section>