<section *ngIf="page as pagelments">
    
       
      <div id="margintransition" class="jumbotron d-none d-md-block d-lg-block" [ngStyle]="{'background-image':'url(' + pagelments._embedded['wp:featuredmedia'][0].media_details.sizes.full.source_url + ')'}">    
        <!--<div class="container">
          <h1 class="display-3">Hello, world!</h1>
          <p>This is a template for a simple marketing or informational website. It includes a large callout called a jumbotron and three supporting pieces of content. Use it as a starting point to create something more unique.</p>
          <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p>KsKs
        </div>-->
      </div>
  
      
      <div class="container bgPage mbMargin" >
          <div class="row">
              <div class="col-lg-6 hdtitle">
                  <h4>{{pagelments.title.rendered}}</h4>
              </div>      
          </div>
          <!-- <div class="row">
            <div class="col-lg-6 text-justify hddate">
                <h6>{{pagelments.date | date:'longDate'}}</h6>
            </div>      
          </div> -->
          <div class="row">             
            <div class="col-12 col-sm-12 col-md-12 col-lg-6 text-justify" [innerHTML]="pagelments.content.rendered">
              
            </div>  
            <div class="col-12 col-sm-12 col-md-6 col-lg-1"> </div> 
            <app-sidbarposts class="col-md-12 col-lg-5 mb-3 bg crnRds sidebar"></app-sidbarposts>   
          </div>
      </div>
</section>