<section>
  <div id="presidentheader">
  </div> 
  <div class="bgTitle">
      <p><b>Perseverance Even In The Face Of Darkness</b></p>
  </div>   
  <div id="presidentCorner">       
    <div class="container">
      <div class="row" *ngIf="page$ | async as pagelments">
        <div class="col-lg-6 bg crnRds text-justify" [innerHTML]="pagelments.content.rendered">
            
          <!--{{ page$.content.rendered }}-->
            <!--<p>
              Welcome to the official website for the Brothers of 1-5-1, Incorporated!! I would like to
              personally thank Brother Kenneth Elliott for his hard work and dedication to making this
              website a reality. We realize that to reach the masses, we need several social media
              outlets to promote our agenda and ideals.
            </p>
            <p>
              As brothers of this illustrious organization, we pledged to uphold the principles of
              “Integrity and Achievement” and to make impact our communities. I am extremely
              proud to see the various achievements that each brother has accomplished in a variety
              of areas. Time and geographical distance may have separated us over the years but the
              ties that bind us together will always be our passion for music and beloved brotherhood.
              I have always envisioned that the reach of the brotherhood would exceed the Hampton
              Roads area and our beloved “Home By The Sea”. I believe that with all that is occurring
              in our society today, our brotherhood has the ability to make an impact and to change
              lives.
            </p>
            <p>
              I have developed a Strategic Plan outlining the next five years that I believe will usher in
              a new phase of our brotherhood. We had an opportunity to discuss the Plan at length at
              our Brotherhood Reunion in Washington, D.C. in July and I forwarded a copy of the
              Plan via social media. Please take time to review the Plan and offer any comments or
              suggestions that you may have and determine which of the areas you can assist in
              making a reality. One of the major initiatives outlined in the Strategic Plan is the
              formation of a separate not-for-profit foundation which will serve as a vehicle to support
              our scholarship and community endeavors. The foundation has been named Help
              Them We Will Foundation and will support initiatives such as a Music Showcase, the
              reinstatement of the Michael J. Bryant Memorial Scholarship for graduating high school
              male students and the formation of book scholarships for students currently involved in
              the Hampton Choral and Band programs, to name a few. The Brotherhood has started
              a Capital Campaign to raise funds for the foundation and the goal is to reach
              $10,000.00 by the end of July, 2018.
            </p>
            <p>
              Please mark your calendars for the Brotherhood Reunion on July 6 – 8, 2018 in the City
              of Brotherly Love, Philadelphia, PA. More information regarding the reunion will be
              forthcoming and if you desire to assist with the planning, please contact Bro. Glenn Bell.
              I hope and pray that you and your family are prosperous and in good health and that a
              new “fire” will be lit for 1-5-1. I am forever honored to be your Brother.
            </p>
            <p>
              Help Them We Will,<br/>
              Bro. Aaron Gumbs
            </p>
            <p>
              8 Cent’s<br/>
              Spring 1991, #8
            </p>-->
        </div>
        <div class="col-lg-1"> 
        </div>
  
          <!--<div class="col-lg-5 bg crnRds crnhgt text-justify" *ngIf="objectives$ | async as objelments" [innerHTML]="objelments.content.rendered"> -->
        <div class="col-lg-5 crnhgt text-justify">
          <div class="container bg crnRds">
            <h2 class="algncenter">Strategic Objectives</h2>
            <div class="row"> 
                <div class="col-lg-2"><img class="imgbat" src="http://oxygen.1-5-1.org/wp-content/uploads/2018/09/icons8-bat-50.png" alt="" width="32" height="32" /></div>
                <div class="col-lg-10"><p>Create a charitable not-for-profit foundation to support national
                    community initiatives.</p></div>
            </div>
            <div class="row"> 
                <div class="col-lg-2"><img class="imgbat" src="http://oxygen.1-5-1.org/wp-content/uploads/2018/09/icons8-bat-50.png" alt="" width="32" height="32" /></div>
                <div class="col-lg-10"><p>Develop a national community service and music program to preserve
                    our efforts to serve our communities.</p></div>
            </div>
            <div class="row"> 
                <div class="col-lg-2"><img class="imgbat" src="http://oxygen.1-5-1.org/wp-content/uploads/2018/09/icons8-bat-50.png" alt="" width="32" height="32" /></div>
                <div class="col-lg-10"><p>To establish a solid foundation for the development of the brotherhood.</p></div>
            </div>
          </div>
          <div class="container bg crnRds">
            <h2 class="algncenter">Strategic Objectives</h2>
            <div class="row"> 
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>  

